@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

/* * {
    outline: 1px red solid;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}

.container .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px;
    width: 220px;
    height: 400px;
}

.container .sedan {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container .suv {
    background-color: hsl(184, 100%, 22%);
}

.container .luxary {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container .sedan button {
    color: hsl(31, 77%, 52%);
}

.container .suv button {
    color: hsl(184, 100%, 22%);
}

.container .luxary button {
    color: hsl(179, 100%, 13%);
}

.container img {
    width: 64px;
}

.container h1 {
    color: hsl(0, 0%, 95%);
    font-family: Big Shoulders;
    font-weight: 700;
}

.container p {
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 60px;
}

.container button {
    background-color: hsl(0, 0%, 95%);
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 20px;
}

.container p, button {
    font-family: Lexend Deca;
    font-size: 15px;
    font-weight: 400;
}